<div class="container-custom">
  <div class="container-fluid">
    <div class="row row-custom">
      <div class="col-9">
          <%= render 'form', position: @position %>
      </div>
    </div>
  </div>
</div>
