<div class="container">
  <h1>éditer la localisation d'une plante</h1>

  <%= render 'form', position: @position %>

  <%= link_to 'Show', @position %> |
  <%= link_to 'Back', positions_path %>
</div>
