<div class="container">
  <h1>Validé</h1>

  <p class="text-center">La plante a bien été localisée</p>

  <%= link_to "Localiser une nouvelle plante", new_position_path, class: "btn btn-success" %>

</div>
