

<div class="form-actions">
          
	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Inscription", new_registration_path(resource_name), class: "white-button btn" %>
	<% end %>

</div>

