<div class ="footer">

	<div class="container-fluid">
			<div class="row">
				<div> 
				<%= link_to 'LES ROSES', plants_path %>
				</div>		
				<div>
				<%= link_to 'LA CARTE', positions_path %>
				</div>
				<div> <a class="link" href="https://jardindelavoieromaine.us8.list-manage.com/subscribe?u=80fb045aec2075ac6f75eb8ff&id=7d3816b71e">
				NEWSLETTER </a>
				</div>		
				<div>
					<a class="link" href="https://secure.payplug.com/p/Xr7H4">DEVENIR MEMBRE</a>
				</div>
				<div> 
					CONTACT
				</div>
			</div>
	 	</div>
	</div>

</div>