#index_plants {

  .col-custom {
    margin: 40px auto;
  }
  .card-custom {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid .8px black;
    border-radius: 0;
    overflow: hidden;
    .container-image {
      position: relative;
      overflow: hidden;
      height: 250px;
      img, img.indexImage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 180%;
        max-height: 180%;
      }
    }
    .content-box {
      height: 80px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      h4 {
        font-size: 18px;
      }
    }
    #text {
      display: none;
    }
  }

}
