#show_positions {

  .container-map {
    position: relative;
  }

  .overlay-container {
    background-color: white;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: solid black 2px;
    width: 40%;
  }

  .container-image-radius {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }

  .elt-description {
    margin: 20px 0;
    p {
      margin: 0;
      font-size: 14px;
    }
  }

  .btn-more-container {
    .btn-more {
      a {
        display: block;
        font-size: 14px;
        font-style: oblique;
        text-decoration: underline;
        text-align: right;
      }
    }
  }
  
  .container-btn{
    display: flex;
    justify-content: center;
  }
}
