.footer {
	min-width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #ECECEC;
	 
	


	.row {
		justify-content: space-around;
		margin: 2em;
	}
	a {
			text-decoration: none;
			color: #000000;
		}
}

		