<<<<<<< Updated upstream
.container{

	.inscription {
    position:relative;
		width: 800px;
		padding: 100px;
	  	margin: 150px;
		border-style: solid;
		a{
			position: absolute;
		    bottom: 0;
		    right: 0;
		    padding: 20px;
		}
  }
}
=======
.container {

		.sign-up-row {
			margin: 50px;
			justify-content: center;
		}	
		
		.sign_up {
			position:relative;
			padding: 55px;
			border: 1px solid grey;
		}

		.btn-success {
			display: block;
    		background-color: #ECECEC;
    		border: 1px solid #A1A1A1;
    		margin:  30px auto ;
    		color: black;
   			width: 20%;
    		line-height: 35px;
    		text-align: center;
    		border-radius: 3px;
		}
		
}


>>>>>>> Stashed changes










