.map
    position: relative
    left: 50%
    transform: translateX(-50%)
    background: #eee

    img
        width: 100%
        height: auto

    &__position
        background: transparent
        width: 1px
        height: 1px
        //margin: -5px 0 0 -5px
        //border-radius: 100%
        position: absolute

        &:before
            content: ''
            width: 15px
            height: 15px
            background-color: black
            border-radius: 50% 50% 50% 0
            transform-origin: bottom left
            transform: rotate(-45deg)
            position: absolute
            bottom: 100%
            left: 0%
            color: black
        a
            display: block
            height: 100%
