.map
    position: relative
    left: 50%
    transform: translateX(-50%)
    background: #eee

    img
        width: 100%
        height: auto

    &__position
        background: red
        width: 10px
        height: 10px
        margin: -5px 0 0 -5px 
        border-radius: 10px
        position: absolute
        a
            display: block
            height: 100%