
.new-session-container {
	min-height: 75vh;

	.parent {

		display: inline-block;
		
		.bg-grey {
			display: block;
			background-color: #ECECEC;
			border: 1px solid #A1A1A1;
			margin:  10px auto ;
			color: black;
			width:20%;
			
		}
		.inscription {
			
		    display: block;
		    background-color: white;
		    border: 1px solid #A1A1A1;
		    color: black;
		    width: 20%;
		    line-height: 35px;
		    text-align: center;
		    border-radius: 3px;

		}
		.new-session {
			position:relative;
			width: 800px;
			padding: 24px;
		  	margin: 75px 150px;
			border: 1px solid;
			
			a{
				position: absolute;
			    bottom: 0;
			    right: 0;
			    padding: 20px;
			}
			 .input-italic{
				font-style : oblique;
			}
			input:placeholder-shown{
				font-style : oblique;
			}


		}		

		.form-action {
			input.btn {
				padding: none !important;
			}
		}
	}

}
